@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #030d21;
  font-family: 'Cormorant SC', serif;
}

.App-header {
  background-color: #030d21;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  font-size: 20px;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}


